<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='stylesheets/lightbox.css' />
    <link rel='stylesheet' href='stylesheets/smk_modif.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />

</head>
<body>
<header>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h1>SMK colorsearch</h1>
                    <p style="padding:10px;"></p>
                    <p></p>
                </div>
                <div class="col-xs-12 col-sm-4">
                </div>
            </div>
        </div>
</header>
<div class="container">
    <div class="row row-content">
        <canvas width="300" height="240" id="canvas_picker"></canvas>
        <canvas width="100" height="50" id="canvas_picked"></canvas>
        <canvas width="100" height="50" id="canvas_var"></canvas>


    </div>
    <div class="row row-content">

        <form class="form-horizontal" role="form" action="/testroute" method="post">
            <div class="form-group">
                <label for="hex" class="col-sm-1 control-label"></label>
                <div class="col-xs-7 col-sm-3 col-md-3">
                    <input type="text" class="form-control" id="hex" name="hex" placeholder="Enter hex value">
                </div>
            </div>
            <div class="form-group">
                <label for="rgb" class="col-sm-1 control-label"></label>
                <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
                    <input type="text" class="form-control" id="rgb" name="rgb" placeholder="Enter RGB value">
                </div>
            </div>
            <div class="form-group">
                <label for="hits" class="col-sm-1 control-label"></label>
                <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
                    <input type="number" value="20" class="form-control" id="hits" name="hits" placeholder="Number of hits">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
                    <button type="submit" class="btn btn-primary">Find artworks</button>
                </div>
            </div>
        </form>

    </div>
    <div class="row row-content">
    <form class="form-inline" role="form" action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <label class="checkbox">

                    <!--<input type="checkbox" value="apple" name="fruit" checked="checked" id="back" onchange="myFunction()"><label for="apple">Apple</label><br>-->
                    <input type="checkbox" id="keywords" value="__option__" onclick="">back to orignal
                </label>
            </div>
        </div>
        <div class="form-group">
            <input type="file" name="image">
            <button type="submit" id="mysubmit" class="btn btn-primary">Upload</button>
        </div>
    </form>
        </div>
</div>

<script type="text/javascript" src="javascripts/jquery-min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/lightbox.js"></script>
<script type="text/javascript">
    var canvas = document.getElementById('canvas_picker').getContext('2d');
    var canvas2 = document.getElementById('canvas_picked').getContext('2d');
    var canvas3 = document.getElementById('canvas_var').getContext('2d');

    // create an image object and get it’s source
    var img = new Image();
    img.src = '/uploads/colormap.jpeg';

    // copy the image to the canvas
    $(img).load(function(){
        canvas.drawImage(img,0,0);
    });

    // http://www.javascripter.net/faq/rgbtohex.htm
    function rgbToHex(R,G,B) {return toHex(R)+toHex(G)+toHex(B)}
    function toHex(n) {
        n = parseInt(n,10);
        if (isNaN(n)) return "00";
        n = Math.max(0,Math.min(n,255));
        return "0123456789ABCDEF".charAt((n-n%16)/16)  + "0123456789ABCDEF".charAt(n%16);
    }
    $('#canvas_picker').click(function(event){
        // getting user coordinates
        var x = event.pageX - this.offsetLeft;
        var y = event.pageY - this.offsetTop;
        // getting image data and RGB values
        var img_data = canvas.getImageData(x, y, 1, 1).data;
        var R = img_data[0];
        var G = img_data[1];
        var B = img_data[2];
        var rgb = R + ',' + G + ',' + B;
        // convert RGB to HEX
        var hex = rgbToHex(R,G,B);
        // making the color the value of the input'
        for (var i=0;i<6;i++) {
            for (var j = 0; j < 6; j++) {
                canvas3.fillStyle = 'rgb(' + Math.floor(R - 22.5 * i) + ',' +
                        Math.floor(G - 22.5 * j) + ',' + B + ')';
                canvas3.fillRect(j * 25, i * 25, 25, 25);
            }
        }

        var fillVal = "#" + hex;

        canvas2.fillStyle=fillVal;
        canvas2.fillRect(20,20,150,100);

        $('#rgb').val(rgb);
        $('#hex').val('#' + hex);

    });
</script>

</body>
</html>

