body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.jumbotron {
  padding:20px 10px 20px 10px;
  margin:0px auto;
  background: #7986CB ;
  color:floralwhite;
}

.thuzmbnail:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:700px;
  height:auto;
  display:block;
  z-index:999;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

hml, body, div, canvas {
  margin: 10;
  padding: 0;
}

.pressItemHover{
    opacity: 0;
    transition: opacity 0.5s linear 0s;
    visibility: hidden;
}

.pressListItem:hover .pressItemHover{
    opacity: 1;
    visibility: visible;
}
.pressListItem{
    width: 60px;
    float: left;
    height: 20px;
    margin-right:12px;
    text-align: center;
    border: solid 1px #e4e4e4;
}

a.thumbnailzz {
    position: absolute;
    width: 100%;
    height: 100%;
}


